<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= name %></title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

  <!-- HERO (visible immediately) -->
<section id="hero" class="hero reveal active">
  <div class="hero-container">

    <div class="hero-content">
      <h1>Hi, I'm <span id="typewriter"></span></h1>
      <p><%= title %></p>
    </div>

    <div class="hero-image">
      <img src="/profile.png" alt="Profile photo" />
    </div>


  </div>
</section>

<!-- ABOUT -->
<section id="about" class="about">
  <h2>Get to know me!</h2>

  <p>
    I’ a computer science undergraduate at Manipal Institute of Technology,
    passionate about building clean, scalable software that solves real problems.
  </p>

  <p>
    My interests lie in full-stack development, system design, and writing
    maintainable code that balances performance with simplicity.
  </p>

  <p>
    Right now, I’m focused on strengthening my engineering fundamentals,
    building meaningful projects, and continuously improving.
  </p>
</section>

  <!-- PROJECTS -->
  <section id="work" class="section active glass reveal">
    <h1><center>My work</center></h1>
    <br>
    <br>
    <div class="grid">
      <div class="card">
        <h3><center>WAVY</center></h3>
        <br>
        <p>A simple social media platform that helped me understand data association, databases, authorisation and authentication along with other backend concepts!</p>
      </div>

      <div class="card">
        <h3><center>GALDECS</center></h3>
        <br>
        <p>An IoT solution to prevent gas leaks in industrial and domestic settings, I learned to integrate arduino and sensors with software and make purpose driven solutions!</p>
      </div>

      <div class="card">
        <h3><center>DHAN</center></h3>
        <br>
        <p>A full stack DeFi application that executes trades on the ethereum blockchain, this was my first project exploring the web3 space!</p>
      </div>
    </div>
  </section>




  <!-- CONTACT -->
<section id="contact" class="contact">
  <h2>Let’s Connect</h2>

  <div class="profile-card">
    <img src="/profile.png" alt="Profile photo" />

    <div class="profile-info">
      <h3>Abhyuday</h3>
      <p>If you have reached till here, why not connect on LinkedIn!</p>

      <div class="profile-links">
          <a href="https://www.linkedin.com/in/abhyuday-bhatnagar-79b656191/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Abhi-Bhat" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</section>



  <footer>
    <p><center>© Built with ❤️ by Abhyuday</center></p>
  </footer>
  <script src="/scripts.js"></script>

</body>
</html>
